/polones/nbproject/private/
/polones/build/
/Busca/nbproject/private/
/Labirinto/nbproject/private/
/Labirinto/build/
/Bingo/nbproject/private/
/Bingo/build/
.metadata
/.metadata/
.metadata/
.recommenders/